---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import '../styles/global.css';
---

<Layout 
	title="Srđan Cukić - Frontend Developer | React TypeScript Node.js Portfolio" 
	description="Srđan Cukić - Frontend Developer from Serbia. React, TypeScript, Node.js, JavaScript developer. Portfolio with projects. Freelance web developer. Frontend development."
	canonical="https://www.srdjancukic.com"
>
	<Header client:load />
	<main class="md:max-w-screen-2xl z-10 mx-auto">
		<Hero />
		<Skills client:load />
		<Projects />
		<Contact client:load />
	</main>
	<Footer client:load />
</Layout>
